#carousel-area {
    overflow: hidden;
    background: #2c3e50;
  }
  
  #carousel-area .carousel-item {
    background-size: 100%;
  }
  
  #carousel-area .carousel-item .carousel-caption {
    top: 32%;
    right: 10%;
    left: 12%;
    text-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  #carousel-area .carousel-item .carousel-caption h3 {
    color: #fff;
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;
  }
  
  #carousel-area .carousel-item .carousel-caption h2 {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
  }
  
  #carousel-area .carousel-item .carousel-caption h4 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  #carousel-area .carousel-control {
    display: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  #carousel-area:hover .carousel-control {
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
  #carousel-area .carousel-control-next, #carousel-area .carousel-control-prev {
    opacity: 1;
  }
  
  #carousel-area .carousel-control-next i, #carousel-area .carousel-control-prev i {
    width: 48px;
    line-height: 48px;
    height: 48px;
    color: #fff;
    font-size: 24px;
    display: inline-block;
    background: #F97794;
    border-radius: 30px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  #carousel-area .carousel-control-next i:hover, #carousel-area .carousel-control-prev i:hover {
    opacity: 0.9;
  }
  
  #carousel-area .carousel-indicators li:hover,
  #carousel-area .carousel-indicators li.active {
    opacity: 1;
  }
  
  #carousel-area .carousel-indicators {
    bottom: 35px;
  }
  
  #carousel-area .carousel-indicators li {
    width: 30px;
    height: 7px;
    border-radius: 4px;
  }
  
  .contents p {
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
  }
  .contents .header-button .btn i {
    margin-left: 10px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    #carousel-area .carousel-item .carousel-caption {
      top: 35%;
    }
    #carousel-area .carousel-item .carousel-caption h3 {
      font-size: 22px;
    }
    #carousel-area .carousel-item .carousel-caption h2 {
      font-size: 50px;
    }
  }

  @media (max-width: 640px) {
    #carousel-area .carousel-item .carousel-caption {
      top: 40%;
    }
    #carousel-area .carousel-item .carousel-caption h3 {
      font-size: 16px;
    }
    #carousel-area .carousel-item .carousel-caption h2 {
      font-size: 22px;
    }
    #carousel-area .carousel-item .carousel-caption h4 {
      font-size: 14px;
    }
    #carousel-area .carousel-item .carousel-caption .btn {
      margin: 8px 5px;
      padding: 7px 16px;
      text-transform: capitalize;
      font-size: 14px;
    }
  }


  @media (min-width: 320px) and (max-width: 480px) {
    #carousel-area .carousel-item .carousel-caption {
      top: 40%;
    }
    #carousel-area .carousel-item .carousel-caption h3 {
      font-size: 13px;
    }
    #carousel-area .carousel-item .carousel-caption h2 {
      font-size: 18px;
    }
    #carousel-area .carousel-item .carousel-caption h4 {
      font-size: 11px;
    }
    #carousel-area .carousel-item .carousel-caption .btn {
      margin: 8px 5px;
      padding: 7px 16px;
      text-transform: capitalize;
      font-size: 14px;
    }
    #carousel-area .carousel-control-next i, #carousel-area .carousel-control-prev i {
      background: transparent !important;
    }
    #carousel-area .carousel-control-next i:hover, #carousel-area .carousel-control-prev i:hover {
      background: transparent !important;
      border: none !important;
    }
  }