  <!-- Hero Area Start -->
  <div id="hero-area" class="hero-area-bg">

    <div class="container">      
      <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <div class="contents">
            <h2 class="head-title">Nos solutions 
             intelligentes</h2>
            <p>Flamantech est une boite marketing, qui utilise des nouvelles techniques de marketing digital, des études approfondis<br> et des stratégies élaborées afin de renforcer votre notoriété, et révolutionner votre position sur le marché.</p>
            <div class="header-button">
              <a href="#features" class="btn btn-common ser">Nos services</a>
              <a href="#subscribe" class="btn btn-common devis">Prend un devis</a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
          <div class="intro-img" id="idk">
            <img class="img-fluid" src="assets/img/landing/landing2.png" alt="">
          </div>  
        </div>
      </div> 
    </div> 

  </div>
  <!-- Hero Area End -->