

.container{
    margin-top: 5%;
    width: 95%;
    background-color: rgb(238, 237, 237);
    
    border-style: solid;
     border-width: medium;
     border-color: rgb(175, 174, 174);
    border-radius: 0.5%;
    margin-left: -2%;
}
.title{
    margin-top: 22px;
}
.name{
    margin-top: 22px;
}
button{
    margin-top: 22px ;
    margin-bottom: 22px;
    background-color: #1DA1F2 !important;
}
a{
    margin-top: 22px;
    background-color: rgb(221, 49, 49);
}
a:hover{
    background-color: rgb(68, 67, 67);
}


.form-label{
    height: 110%;
}