
<div class="container">
    <a type="button" class="btn  btn-lg" routerLink='/dashboard/ajouter_de_réalisation'>ajouter portfolio</a>
</div>
    <div class="mycontainer">
      <div class="row">
        <div class="col-6 col-md-12 col-lg-6 col-xxl-4" *ngFor="let item of data">
          <div class="card mb-3" style="max-width: 420px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{{this._url}}/images/houses/{{item.photo}}"
                  alt="... "
                  class="img-fluid"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{item.title}}</h5>
                  <p class="card-text">
                    {{item.description}}
                  </p>
                  <p class="card-text">
                    <button type="button" class="btn btn-outline-warning btn-small">Update</button> &nbsp;
                    <button type="button" class="btn btn-outline-danger btn-small">Supprimer</button>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    
    </div>  

