<a type="button"  routerLink="/dashboard/ajouter_un_client" class="btn btn-info add_client">Ajouter client</a>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Country</th>
    <th scope="col">Area</th>
    <th scope="col">Population</th>
    <th scope="col">actions</th>
    <th scope="col">...</th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let item of data; index as i" >
    <th scope="row"  *ngIf="item.name != 'Flamanteck'">{{ i + 1 }}</th>
    <td  *ngIf="item.name != 'Flamanteck'">
     
      {{ item.name }}
    </td>
    <td  *ngIf="item.name != 'Flamanteck'">{{ item.mail }}</td>
    <td  *ngIf="item.name != 'Flamanteck'">{{ item.tel  }}</td>
    <td  *ngIf="item.name != 'Flamanteck'"><button type="button" class="btn btn-warning" routerLink='/dashboard/mis_a_jour_client/{{item.id}}'>Update</button></td>
    <td  *ngIf="item.name != 'Flamanteck'"><button type="button" class="btn btn-danger" (click)="delete(item.id)">Supprimer</button></td>
  </tr>
  </tbody>
</table>