#blog .blog-item-wrapper {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
    -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
    -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
    transition: transform 0.2s linear, box-shadow 0.2s linear;
  }
  
  #blog .blog-item-wrapper:hover {
    box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  
  #blog .blog-item-wrapper:hover .blog-item-img:before {
    opacity: 1;
  }
  
  #blog .blog-item-img {
    position: relative;
  }
  
  #blog .blog-item-img img {
    width: 100%;
    border-radius: 4px;
  }
  
  #blog .blog-item-text {
    padding: 20px 30px;
  }
  
  #blog .blog-item-text .date {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  #blog .blog-item-text .date i {
    margin-right: 7px;
  }
  
  #blog .blog-item-text h3 {
    line-height: 26px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  #blog .blog-item-text h3 a {
    color: #263238;
  }
  
  #blog .blog-item-text h3 a:hover {
    color: #F97794;
  }
  
  .meta-tags {
    margin-bottom: 10px;
  }
  
  .meta-tags span {
    color: #999;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .meta-tags span i {
    margin-right: 5px;
  }
  
  .meta-tags span a {
    color: #999;
  }
  
  .meta-tags span a:hover {
    color: #F97794;
  }
  
  /* ==========================================================================
      Single Page Style
     ========================================================================== */
  #blog-single {
    padding: 80px 0;
    background: #ECF0F1;
  }
  
  #blog-single .blog-post {
    background: #fff;
    overflow: hidden;
    margin-bottom: 40px;
  }
  
  #blog-single .blog-post .post-thumb img {
    width: 100%;
  }
  
  #blog-single .blog-post .post-content {
    padding: 30px;
  }
  
  #blog-single .blog-post .post-content h3 {
    font-size: 30px;
    padding-bottom: 10px;
  }
  
  .blog-comment {
    background: #fff;
    padding: 50px 30px;
    margin-top: 30px;
    overflow: hidden;
  }
  
  .blog-comment h4 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .blog-comment .comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
  }
  
  .blog-comment .comment-list .the-comment {
    border-bottom: 1px solid #e7e6e6;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  
  .blog-comment .comment-list .children {
    padding-left: 40px;
  }
  
  .blog-comment .avatar {
    float: left;
    margin-right: 15px;
    padding: 5px;
    border-radius: 3px;
    background: #ffffff;
    border: 1px dashed #346AFE;
  }
  
  .blog-comment .comment-author {
    margin-bottom: 10px;
  }
  
  .blog-comment .meta {
    margin-bottom: 10px;
    color: #999;
  }
  
  .post-meta {
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .post-meta ul li {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
  }
  
  .post-meta ul li i {
    margin-right: 5px;
  }
  
  .post-meta ul li a {
    color: #fff;
  }
  
  .post-meta ul li a:hover {
    color: #F97794;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    #blog .blog-item-wrapper {
        margin-bottom: 30px;
      }
      #blog .blog-item-text h3 {
        font-size: 14px;
      }
  }

  @media (max-width: 640px) {
    #blog .blog-item-wrapper {
        margin-bottom: 30px;
      }
  }


  @media (min-width: 320px) and (max-width: 480px) {
    #blog .blog-item-wrapper {
        margin-bottom: 30px;
      }
      #blog .blog-item-text h3 {
        font-size: 18px;
      }
      #blog .blog-item-text .meta-tags span {
        margin-right: 5px;
      }

      #blog-single .blog-post .post-content {
        padding: 15px;
      }
      #blog-single .blog-post .post-content h3 {
        font-size: 15px;
      }
      .blog-comment .comment-author {
        margin-bottom: 40px;
      }
      .blog-comment .comment-list .children {
        padding-left: 0;
      }
  }


  .menu-link{
    background-color: cadetblue;
    z-index: 150000;
    overflow: hidden;
    width: 100%;
    height: 50px;
    font-size: large;
    margin: 150px;
    position: fixed;
    top: 0;
  }

  .menu-link.controllable.text-larger {
    font-size: 18px;
    color: chocolate;
}

.menu-link.controllable.text-smaller {
    font-size: 14px;
    color: crimson;
}

.navbar-inverse{
  color: #346AFE;
  font-size: 100px;
  background-color: #346AFE;
}


.header_change{
  position: fixed;
  background-color: red;
  color: blue;
  width: 100%;
  z-index: 505050050;
  top:0;
  left: 0;
}



.scrollCss {
  background: yellow;
  
}

.hdr {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
  margin-left:-8px;
  margin-top: -10px;

}