
<nav>
    <ul>
      <li>
        
        <div class="home-icon">
          <div class="roof">
            <div class="roof-edge"></div>
          </div>
          <div class="front"></div>
        </div>
      </li>

      <li routerLink="/dashboard/list_des_clients">
        <div class="sdsddswork-icons">
          <i class="lni lni-users"></i>
        </div>
      </li>
      <li routerLink="/dashboard/list_des_services">
        <div class="about-icon">
          <div class="head">
            <div class="eyes"></div>
            <div class="beard"></div>
          </div>
       
        </div>
      </li>
      <li routerLink="/dashboard/list_des_devis">
        <div class="about-icon">
          <div class="heads">
            <i class="lni lni-invest-monitor"></i>
          </div>
        </div>
      </li>
      <li routerLink="/dashboard/list_des_réalisations">
        <div class="sdsddswork-icons">
          <i class="lni lni-grow"></i>
        </div>
      </li>
      <li routerLink="/dashboard/newsletter">
        <div class="mail-icon">
          <div class="mail-base">
            <div class="mail-top"></div>
          </div>
        </div>
      </li>
      <li>
        <i class="lni lni-layers"></i>
        
      </li>
      <li routerLink="/dashboard/list_des_réalisations">
        <div class="sdsddswork-icons">
          <i class="lni lni-power-switch"></i>
        </div>
      </li>
    </ul>
  </nav>
  
  <section>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </section>