
<!-- Header Section Start -->
<header id="slider-area">  
    <nav class="navbar navbar-expand-md fixed-top scrolling-navbar bg-white">
      <div class="container">          
        <a class="navbar-brand" href="index.html" style="color: #F97794;"><span class="lni-bulb"></span>  FLAMENGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#slider-area">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#services">Nos services</a>
            </li>  
            <li class="nav-item dropdown">
              <a class="nav-link page-scroll dropbtn" href="#features">Nos réalisations</a>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </li>                            
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#pricing">Tarification</a>
            </li>            
            
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#team">À propos</a>
            </li>    
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#subscribe">Newsletter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#contact">Contact</a>
            </li> 
            <li class="nav-item spacer">

            </li> 
            <li class="nav-item client">
              <a href="" class="btn btn-common devis">Espace client</a>
            </li> 
          </ul>              
        </div>
      </div>
    </nav> 

  <app-welcome-section></app-welcome-section>
  </header>
  <!-- Header Section End --> 

