 <!-- Blog Section -->
 <section id="blog" class="section">
    <!-- Container Starts -->
    <div class="container">
      <div class="section-header">          
        <h2 class="section-title">Nos réalisations</h2>
        <span>Portfolio</span>
        <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis.</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
          <!-- Blog Item Starts -->
          <div class="blog-item-wrapper">
            <div class="blog-item-img">
              <a href="single-post.html">
                <img src="assets/img/blog/img1.jpg" alt="">
              </a>                
            </div>
            <div class="blog-item-text"> 
              <div class="date"><!--i class="lni-calendar"></i>-->www.client1.com</div>
              <h3><a href="single-post.html">Site Vetrine pour lorem ipsum</a></h3>
              <div class="plan-button">
                <button class="btn btn-common btn-effect" style="background-color: #F97794;">voir plus</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
          <div class="blog-item-wrapper">
            <div class="blog-item-img">
              <a href="single-post.html">
                <img src="assets/img/blog/img2.jpg" alt="">
              </a>                
            </div>
            <div class="blog-item-text"> 
              <div class="date">www.client1.com</div>
              <h3><a href="single-post.html">How to Design a Website For Your App</a></h3>
              <div class="plan-button">
                <button class="btn btn-common btn-effect" style="background-color: #1DA1F2">voir plus</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
          <!-- Blog Item Starts -->
          <div class="blog-item-wrapper">
            <div class="blog-item-img">
              <a href="single-post.html">
                <img src="assets/img/blog/img3.jpg" alt="">
              </a>                
            </div>
            <div class="blog-item-text"> 
              <div class="date">www.client3.fr</div>
              <h3><a href="single-post.html">Strategie de marketing pur lotem psium ldafpods</a></h3>
              <div class="plan-button">
                <button class="btn btn-common btn-effect" style="background-color: #263238">voir plus</button>
              </div>
            </div>
          </div>
          <!-- Blog Item Wrapper Ends-->
        </div>
      </div>
    </div>
  </section>
  <!-- blog Section End -->
