
 <app-navbar></app-navbar>
<br><br><br><br>
 <!-- Services Section Start -->
   <app-our-services></app-our-services>
 <!-- Services Section End -->

 <!-- Call to Action Start  see trash component-->
 <app-portfolio></app-portfolio>
 <!-- Call to Action End -->
 <!-- Features Section Start -->

<app-whyus></app-whyus>
 <!-- Features Section End -->    

 <!-- Start Video promo Section -->
 <section class="video-promo section">
   <div class="overlay"></div>
   <div class="container">
     <div class="row">
       <div class="col-md-12 col-sm-12">
           <div class="video-promo-content text-center">
             <a href="https://www.youtube.com/embed/LSgBpbgTlhw" class="video-popup"><i class="lni-film-play"></i></a>
             <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Notre vidéo introductive</h2>
             <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Learn more about us, its only 30mins</p>
           </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End Video Promo Section -->
<br><br><br>
 <!-- Start Pricing Table Section -->
 <app-pricing></app-pricing>
 <!-- End Pricing Table Section -->

 <!-- Counter Section Start -->
 <div class="counters section bg-defult">
   <div class="container">
     <div class="row"> 
       <div class="col-sm-4 col-md-4 col-lg-4">
         <div class="facts-item"> 
           <div class="icon">
             <i class="lni-rocket"></i>
           </div>                
           <div class="fact-count">
             <h3><span class="counter">100</span>%</h3>
             <h4>projets terminés</h4>
           </div>
         </div>
       </div>
       <!--
       <div class="col-sm-6 col-md-6 col-lg-3">
         <div class="facts-item">
           <div class="icon">
             <i class="lni-coffee-cup"></i>
           </div>                
           <div class="fact-count">
             <h3><span class="counter">1700</span></h3>
             <h4>Cup of Coffee</h4>
           </div>
         </div>
       </div> -->
       <div class="col-sm-4 col-md-4 col-lg-4">
         <div class="facts-item">
           <div class="icon">
             <i class="lni-user"></i>
           </div>                
           <div class="fact-count">
             <h3><span class="counter">15</span>+</h3>
             <h4>Clients</h4>
           </div>
         </div>
       </div>
       <div class="col-sm-4 col-md-4 col-lg-4">
         <div class="facts-item">
           <div class="icon">
             <i class="lni-heart"></i>
           </div>                
           <div class="fact-count">
             <h3><span class="counter">26</span></h3>
             <h4>Projets réalisés</h4>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- Counter Section End -->

 <!-- Testimonial Section Start -->
 <section class="testimonial section">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div id="testimonials" class="touch-slider owl-carousel">
           <div class="item">
             <div class="testimonial-item">
               <div class="author">
                 <div class="img-thumb">
                 <img src="img/testimonial/img1.jpg" alt="">
                 </div>
                 <div class="author-info">
                   <h2><a href="#">Johnathan Doe</a></h2>
                   <span>Marketing Head Matrix media</span>
                 </div>
               </div>
               <div class="content-inner">
                 <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star"></i></span>
                 <span><i class="lni-star"></i></span>
               </div>
             </div>
           </div>
           <div class="item">
             <div class="testimonial-item">
               <div class="author">
                 <div class="img-thumb">
                 <img src="img/testimonial/img2.jpg" alt="">
                 </div>
                 <div class="author-info">
                   <h2><a href="#">Oidila Matik</a></h2>
                   <span>President Lexo Inc</span>
                 </div>
               </div>
               <div class="content-inner">
                 <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star-filled"></i></span>
               </div>
             </div>
           </div>
           <div class="item">
             <div class="testimonial-item">
               <div class="author">
                 <div class="img-thumb">
                 <img src="img/testimonial/img3.jpg" alt="">
                 </div>
                 <div class="author-info">
                   <h2><a href="#">- Alex Dattilo</a></h2>
                   <span>CEO Optima Inc</span>
                 </div>
               </div>
               <div class="content-inner">
                 <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star"></i></span>
               </div>
             </div>
           </div>
           <div class="item">
             <div class="testimonial-item">
               <div class="author">
                 <div class="img-thumb">
                 <img src="img/testimonial/img2.jpg" alt="">
                 </div>
                 <div class="author-info">
                   <h2><a href="#">Oidila Matik</a></h2>
                   <span>President Lexo Inc</span>
                 </div>
               </div>
               <div class="content-inner">
                 <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star-filled"></i></span>
               </div>
             </div>
           </div>
           <div class="item">
             <div class="testimonial-item">
               <div class="author">
                 <div class="img-thumb">
                 <img src="img/testimonial/img1.jpg" alt="">
                 </div>
                 <div class="author-info">
                   <h2><a href="#">- Alex Dattilo</a></h2>
                   <span>CEO Optima Inc</span>
                 </div>
               </div>
               <div class="content-inner">
                 <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star-filled"></i></span>
                 <span><i class="lni-star"></i></span>
                 <span><i class="lni-star"></i></span>
                 <span><i class="lni-star"></i></span>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- Testimonial Section End --> 

 <!-- Team section Start -->
 <section id="team" class="section">
   <div class="container">
     <div class="section-header">          
       <h2 class="section-title">Notre équipe</h2>
       <span>Team</span>
       <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis.</p>
     </div>
     <div class="row">
       <div class="col-lg-3 col-md-6 col-xs-12">
         <div class="single-team">
           <img src="assets/img/team/team1.png" alt="">
           <div class="team-details">
             <div class="team-inner">
               <h4 class="team-title">Jhon Doe</h4>
               <p>Chief Technical Officer</p>
               <ul class="social-list">
                 <li class="facebook"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                 <li class="twitter"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                 <li class="google-plus"><a href="#"><i class="lni-google-plus"></i></a></li>
                 <li class="linkedin"><a href="#"><i class="lni-linkedin-fill"></i></a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-3 col-md-6 col-xs-12">
         <div class="single-team">
           <img src="assets/img/team/team2.png" alt="">
           <div class="team-details">
             <div class="team-inner">
               <h4 class="team-title">Luke Chesser</h4>
               <p>Marketing Executive</p>
               <ul class="social-list">
                 <li class="facebook"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                 <li class="twitter"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                 <li class="google-plus"><a href="#"><i class="lni-google-plus"></i></a></li>
                 <li class="linkedin"><a href="#"><i class="lni-linkedin-fill"></i></a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
       
       <div class="col-lg-3 col-md-6 col-xs-12">
         <div class="single-team">
           <img src="assets/img/team/team3.png" alt="">
           <div class="team-details">
             <div class="team-inner">                  
               <h4 class="team-title">David Givens</h4>
               <p>Business Manager</p>
               <ul class="social-list">
                 <li class="facebook"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                 <li class="twitter"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                 <li class="google-plus"><a href="#"><i class="lni-google-plus"></i></a></li>
                 <li class="linkedin"><a href="#"><i class="lni-linkedin-fill"></i></a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-3 col-md-6 col-xs-12">
         <div class="single-team">
           <img src="assets/img/team/team4.png" alt="">
           <div class="team-details">
             <div class="team-inner">
               <h4 class="team-title">Annie Spratt</h4>
               <p>Graphic Designer</p>
               <ul class="social-list">
                 <li class="facebook"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                 <li class="twitter"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                 <li class="google-plus"><a href="#"><i class="lni-google-plus"></i></a></li>
                 <li class="linkedin"><a href="#"><i class="lni-linkedin-fill"></i></a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- Team section End -->

 <app-newsletter></app-newsletter>
 <!-- Subcribe Section End -->


 <!-- Clients Section -->
 <div id="clients" class="section">
   <!-- Container Ends -->
   <div class="container">
     <!-- Row and Scroller Wrapper Starts -->
     <div class="row" id="clients-scroller">
       <div class="client-item-wrapper">
         <img src="assets/img/clients/img1.png" alt="">
       </div>
       <div class="client-item-wrapper">
         <img src="assets/img/clients/img2.png" alt="">
       </div>
       <div class="client-item-wrapper">
         <img src="assets/img/clients/img3.png" alt="">
       </div>
       <div class="client-item-wrapper">
         <img src="assets/img/clients/img4.png" alt="">
       </div>
       <div class="client-item-wrapper">
         <img src="assets/img/clients/img5.png" alt="">
       </div>
       <div class="client-item-wrapper">
         <img src="assets/img/clients/img6.png" alt="">
       </div>
     </div>
   </div>
 </div>
 <!-- Client Section End --> 

 <!-- Contact Section Start -->
 <section id="contact" class="section">      
   <div class="contact-form">
     <div class="container">
       <div class="section-header">          
         <h2 class="section-title">Votre Message</h2>
         <span>Contact</span>
         <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis.</p>
       </div>
       <div class="row">          
         <div class="col-lg-9 col-md-9 col-xs-12">
           <div class="contact-block">
             <form id="contactForm">
               <div class="row">
                 <div class="col-md-6">
                   <div class="form-group">
                     <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                     <div class="help-block with-errors"></div>
                   </div>                                 
                 </div>
                 <div class="col-md-6">
                   <div class="form-group">
                     <input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
                     <div class="help-block with-errors"></div>
                   </div> 
                 </div>
                 <div class="col-md-12">
                   <div class="form-group">
                     <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                     <div class="help-block with-errors"></div>
                   </div>
                 </div>
                 <div class="col-md-12">
                   <div class="form-group"> 
                     <textarea class="form-control" id="message" placeholder="Your Message" rows="7" data-error="Write your message" required></textarea>
                     <div class="help-block with-errors"></div>
                   </div>
                   <div class="submit-button">
                     <button class="btn btn-common btn-effect" id="submit" type="submit">Send Message</button>
                     <div id="msgSubmit" class="h3 hidden"></div> 
                     <div class="clearfix"></div> 
                   </div>
                 </div>
               </div>            
             </form>
           </div>
         </div>
         <div class="col-lg-3 col-md-3 col-xs-12">
           <div class="contact-deatils">
             <!-- Content Info -->
             <div class="contact-info_area">
               <div class="contact-info">
                 <i class="lni-map"></i>
                 <h5>Location</h5>
                 <p>1900 Pico Blvd, New York br Centernial, colorado</p>
               </div>
               <!-- Content Info -->
               <div class="contact-info">
                 <i class="lni-star"></i>
                 <h5>E-mail</h5>
                 <p>info@example.com</p>
               </div>
               <!-- Content Info -->
               <div class="contact-info">
                 <i class="lni-phone"></i>
                 <h5>Phone</h5>
                 <p>+48 123 456 789</p>
               </div>
               <!-- Icon -->
               <ul class="footer-social">
                 <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                 <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                 <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                 <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>            
 </section>
 <!-- Contact Section End -->
 
 <!-- Map Section Start -->
 <section id="google-map-area">
   <div class="container-fluid">
     <div class="row">
       <div class="col-12 padding-0">
         <object style="border:0; height: 450px; width: 100%;" data="https://maps.google.com/maps?q=lyc%C3%A9e%20korba&t=&z=13&ie=UTF8&iwloc=&output=embed"></object>
       </div>
     </div>
   </div>
 </section>
 <!-- Map Section End -->

 <!-- Footer Section Start -->
 <app-footer></app-footer>
 <!-- Footer Section End --> 

 <!-- Go To Top Link -->
 <a href="#" class="back-to-top">
   <i class="lni-arrow-up"></i>
 </a>
 
<!--loder-
 <div id="loader">
   <div class="spinner">
     <div class="double-bounce1"></div>
     <div class="double-bounce2"></div>
   </div>
 </div>  -->  